# Local .terraform directories
**/.terraform/*
**/Azure/day03/*

# Terraform state files
*.tfstate
*.tfstate.*

# Crash logs
crash.log

# Terraform plan files
*.tfplan

# CLI configuration files
.terraform.rc
terraform.rc

# Override variable files (often used locally, not in version control)
terraform.tfvars
*.tfvars

# Sensitive files (if any custom named)
*.pem
*.key
*.env
